/*----- RESET -----*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---- GENERAL -----*/

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.img-fluid{
    max-width: 100%;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/*---- BUTTONS -----*/

.btn{
    background-color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*---- TYPHOGRAPHY -----*/
h1{
    font-family: "Nerko One", cursive;
    font-size: 46px;
}
h2{
    font-size: 26px;
}
h3{
    color: grey;
    font-weight: 200;
    font-size: 16px;
}
h4{
    font-size: 20px;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #f6f5f3;
}

/*------HEADER------*/
header{
    text-align: center;
    background-color: #fff;
    color: #ff9614;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header h1{
    padding: 16px;
    text-shadow: 1px 1px 2px #333;
}
/*------MAIN------*/
.hide{
    display: none;
}
.intro h2{
    margin: 10px 0;
    color: #4e3969;
}
.intro .row{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.col-video, .col-video img{
    width: 100%;
}

.col-recipe{
    width: 100%;
    padding: 20px;
}

.intro .row ul {
    padding: 20px 0;
}
.intro .row ul li:not(:last-child){
    padding-bottom: 20px;
}

.btn-space{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.presentation h2{
    font-weight: 400;
    padding-bottom: 10px;
    margin: 20px 0;
    border-bottom: 2px solid #ff9614;
    width: 70px;
}
.img-tiramisù{
    width: 300px;
    margin: auto;
    display: block;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.presentation p{
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}
footer{
    background-color: #7c69a4;
    color: white;
    text-align: center;
    padding:20px 0;
}
.footer-info{
    line-height: 2;
}
.footer-link a{
    color: inherit;

}
.nav-footer ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.nav-footer ul li:last-child{
    width: 100%;
    padding-top: 20px;
}
.nav-footer li:not(:last-child){
    padding-right: 30px;
}

/*------RESPONSIVE------*/

/*-----TABLET-----*/
@media  screen and (min-width: 768px) {
    header{
        text-align: left;
    }
    .container{
        padding: 40px;
    }
    h2 .hide, .banner .hide{
        display: inline;
    }
    .intro .row ul {
        display: flex; 
        flex-wrap: wrap;     
    }
    .intro .row ul li{
        padding-right: 30px;
        width: calc(100% / 3);
    }
    .btn-space .btn{
    width: 100%;
}
    .btn-space .btn:not(:last-child){
        margin-right: 20px;
    }
    .img-tiramisù{
        float:left;
        margin-right: 10px;
        margin-top: 8px;
    } 
    .nav-footer ul{
        flex-wrap:nowrap;
    }
    .nav-footer ul li:last-child{
        padding-top: 0px;
        width: auto;
    }
}


/*-----DESKTOP-----*/
@media  screen and (min-width: 992px) {
    h2{
        font-size: 36px;
    }
    .row{
        display: flex;
        flex-wrap: nowrap;
    }
    .col-video{
        width: 70%;
    }
    .col-recipe{
        width: 30%;
    }
    .intro .row ul {
        display: block;
        flex-wrap: nowrap;     
    }
    .intro .row ul li{
        padding-right: 0;
        width:100%;
    }
    .btn-space .hide{
        display: inline;
    }
    .btn i{
        padding-right: 4px;
    }
    .row-footer{
        display: flex;
        text-align: left;
        justify-content: space-between;
        padding:0 16px;
    }
}